*,
*::after,
*::before{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
:root{
  min-width: 375px;
  height: 667px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;

  background: radial-gradient(50% 50% at 50% 50%, #D5F3FF 0%, #51B4E8 100%);  
}

.container_app{
  width: 350px;
  height: 630px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header_container{
  display: flex;
}
.header_container h1{
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 23px;

  color: #FFFFFF;
}
.main_container{
  width: 100%;
  height: 500px; 

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width:380px) {
  #root{
    width: 95vw;
  }
  .container_app{
    width: 100%;
  }
  .header_container h1{
    font-size: 21px;
  }
  .main_container{
    width: 100%;
    height: 500px; 
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}